.admin-dashboard {
    width: 80%;
    margin: 0 auto;
  }
  
  .admin-dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .admin-dashboard .admin-customer-management, .admin-dashboard .admin-property-management {
    margin-bottom: 50px;
  }
  
  .admin-dashboard .admin-property-management {
    display: flex;
    flex-direction: column;
  }
  