.auth-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    
  }
  
  .auth-container h2 {
    text-align: center;
    color: #333;
    
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .auth-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    
  }
  
  .auth-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    
  }
  
  .auth-container button:hover {
    background-color: #45a049;
    
  }
  .auth-container .warning {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 15px;
    border-radius: 4px;
    
  }
  
  